/* #imagenhome{
    /* background-color: pink; */
    /* background-image: url("/img/logo.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 500px;
    margin:0;
    text-align: center; */

